
.app {
  background-color: #282c34;
  text-align: center;
}

#background {
  background-color: #445679;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 50%;
  margin-left: 25%;
}

#profile-pic {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #3a5f3a;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  border: 3px solid #170303;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) 
}

.stats {
  display: flex;
  color: antiquewhite;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.stats > div {
  flex: 1 1 0;
  text-align: center; 
  padding: 1rem; 
  background-color: rgb(3, 52, 38);
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.avg-rating-link {
  background-color: rgb(3, 52, 38);
  color: antiquewhite;
  cursor: pointer;
  text-decoration: none;
}

#treeBox {
  flex: 1; 
  margin:10px; 
  text-align: center; 
  padding: 20px; 
  background-color: rgb(3, 52, 38);
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.4s ease-in-out;
  position: relative;
}




.icon-img {
  width: 100%;
  max-width: 40%; /* justera efter behov */
  height: auto;
  display: block;
  margin: 0 auto;
}


.close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.close-button:hover {
  color: white;
}
.plus-button {
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}
.plus-button:hover {
  color: #333;
}
.clear-button {
  position: absolute;
  left: 18px;
  top: 10px;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(179, 36, 36);
}
.clear-button:hover {
  color: #333
}

.category-tabs {
  display: flex;
  gap: 11px;
  margin-bottom: 10px;
}

.category-tabs .tab {
  background-color: #eee;
  color: rgb(3, 52, 38);
  padding: 0.5rem 2rem;  
  font-size: 1rem;      
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  height: 1.5rem;
}

.category-tabs .tab.active {
  background-color: #a9e84a;
  color: rgb(3, 52, 38);
}

.icons-list {
  flex-direction: column;
  gap: 2%;
  padding: 1rem;
  background-color: antiquewhite;
  border-radius: 8px;
  position: absolute;
  transform: translateY(-35%) translateX(-1.5%); 
  transition: opacity 0.4s ease-in-out, visbility 0.4s linear, transform 0.6s ease-in-out;
  visibility: hidden;
  max-height: 225px; 
  overflow-y: auto;
}
.icons-list::-webkit-scrollbar {
  display: none;
}

.icons-list > div {
  background-color: beige;
  border-radius: 8px;
}


.icons-list.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(-225%) translateX(-1.5%);
}
.icons-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem 1rem; /* lägger till lite space under */
  
  background-color: transparent !important;
}
.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1.2rem; 
}

.icon-lock-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  pointer-events: none; 
  z-index: 5; 
}
.main-tree-img.faded {
  opacity: 0.2;
}

.main-tree-img {
    width: 100%;
    max-width: 40%; 
    height: auto;
    display: block;
    margin: 0 auto;
  
}
.main-tree-container {
  cursor: default; /* eller grabbing via class */
}
body.grabbing * {
  cursor: grabbing !important;
}

.placed-icon {
  position: absolute;
  cursor: grab; 
  user-select: none;
  pointer-events: auto;
}
.placed-icon:active {
  cursor: grabbing;
}
.placed-icon.fruits {
  width: 4vh;
  height: 4vh;
}
.placed-icon.animals {
  width: 8vh;
  height: 8vh;
}
.placed-icon.flowers {
  width: 4vh;
  height: 4vh;
}
.placed-icon.random {
  width: 10vh;
  height: 10vh;
}
body.grabbing {
  cursor: grabbing;
}

#medal {
  width: 30%;
  height: auto;
}

#curiosa {
  flex: 1; 
  margin: 10px;
  text-align: center; 
  padding: 30px; 
  background-color: rgb(3, 52, 38);
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
.main-tree-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  margin: -2rem 0 0 -2rem;
  border: 5px solid rgba(255, 255, 255, 0.6);
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 2;
}

.loader.hidden {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icon-img.faded {
  opacity: 0.4;
  pointer-events: none; /* för att undvika att man kan dra den av misstag */
}
