.avg-star-rating {
  position: relative;
  display: inline-block;
  left: -2.75rem;
  bottom: 0.5rem;
}

.avg-star-rating img {
  width: calc(5.5 * 0.862rem + 5.5 * 0.138rem);
  height: auto;
  display: block;
}

.star-fill {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  /*z-index: 2;*/
  transition: width 0.4s ease-in-out;
}

.star-empty {
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: 1;*/
}

.rating-text {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}
